<div>
  <h1 class='title'><%= @product.title %></h1>
</div>

<div>
  <p class='description'><%= @product.description %></p>
</div>

<div>
  <span class='price'><%= @product.price %>$</span>
</div>

<div>
  <%= link_to 'Editar producto', edit_product_path(@product) %>
</div>

<div>
  <%= link_to 'Eliminar producto', product_path(@product), data: {
    turbo_method: :delete,
    turbo_confirm: '¿Estás seguro de que quieres eliminar este producto?'
    } %>
</div>
